.movie-finder {
  display: flex;
  justify-content: center;
}

.movie-finder-input {
  width: 85%;
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}
