.movie-lists_header {
  text-align: left;
  color: white;
  margin: 2rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin: 2rem;
}

.movie-lists-wrapper {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.movie-lists-image,
.movie-lists-info {
  padding: 1rem;
}

.movie-lists-image {
  width: 110px;
  height: 165px;
}
